.nav-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    font-size: 14px;
    /*font size? */
}
.nav-link{
    margin: 0px 5px 5px 5px;
    padding: 5px;
    border:none;
    font: 14px;
    text-decoration:none;
    color: rgba(0,0,0,0.87);
}

.nav-link:hover {
    text-decoration: underline;
}
.google-apps{
    border: none;
    outline: none;
    background: transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.google-apps:hover{
    background-color: #dee1e4;
    opacity: 0.5;
}
.gmail-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 0px 5px 5px 5px;
    /*Resize image height & width depending on font size in Nav-bar*/
}
.gmail-picture:hover{
    background-color: #5f6368;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    margin-top: 50px;
}
.google-logo{
  padding-bottom: 30px;
  margin-top: 100px;
}
.search-bar{
    display: flex;
    border: 1px solid #dfe1e5;
    height: 25px;
    width:600px;
    padding: 10px;
    border-radius: 20px;
}
.search-bar:hover {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);

}
.search-icon{
    /* position magnifying glass onto edge of search-bar */
opacity: 0.35;
}
.search-input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 40px 0px 30px 0px;
    }
button {
        border: 0;
        border-radius: 0.25rem;
        background:rgb(245, 245, 245);
        color:inherit;
        font-family: -system-ui, sans-serif;
        font-size: 1rem;
        line-height: 2;
        white-space: nowrap;
        text-decoration: none;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
      }
.search-buttons :hover {
    border: 1px solid #b1aeae;
    overflow: hidden;
    box-shadow: 1px 1px rgb(180, 179, 179);
}


.language-options{

}
.footer-container{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid grey;
    border-bottom: 1px solid #dadce0;
    background: rgba(196, 198, 199, 0.54);
    font-size: 14px;
}
.footer-container a {
    color: rgba(0,0,0,0.87);
}
.left-footer {
    margin: 0px 5px 0px 15px;

}
.right-footer {
    margin: 0px 15px 0px 0px;
}

a {
    text-decoration: none;
    
}
a:hover {
    text-decoration: underline;
}


/*Notes 
finish styling the buttons
fix language options moving when hovering over buttons
set padding and margins for the footer
set links to relevant pages for footer

*/