.nav-bar{
    
}
.nav-link{

}
.google-apps{
    border: none;
    outline: none;
    background: transparent;
}
.google-apps:hover{
    
}
.nav-profile{

}

.main{

}
.google-logo{

}
.search-bar{

}
.search-icon{
    /* position magnifying glass onto edge of search-bar */ 
}

.search-buttons{

}
.language-options{

}
.footer-container{

}
.left-footer{

}
.right-footer{
    
}